form {
border-radius: 10px;
background-color: aliceblue;
text-align: center;
height: 300px;
}

h3{
padding-top: 20px;
line-height: 100px;
}

#frontlinks{
margin-top: 20px;
margin-bottom: 20px;
font-size: 16px
}


